p {
	Background-color:SteelBlue;
	color:silver;
	text-align:center;
	font-style: italic;
	font-size: 25px;
	}
.My_Style_2 {
	color: SlateGray;
	font-size: 55px;
	text-align: center;
	font-family: brush script MT;
	text-decoration: underline;
}
.My_style_1 {
	font-weight: bold;
	text-align: center;
	font-size: 30px;
	font-family: cursive
}
h3 {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}
