
 /*-------------- Reservation form------------------*/
 .reservation { 

 }
.reservation h2 {
    width: 70%;
    text-align: center ;
    margin: 0 auto; /*--------centers in the middle no mater the size----------*/
    color: #13161B;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: hsl(35, 84%, 22%);
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;

}
.reservation p {
    color: #fff;
    width: 50%;
    margin:  0 auto;
    font-size: 26px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: auto;
    text-shadow:2px 2px 3px #000

}

.reservation form {
    font-size: 26px;
    outline: 1px solid darkslategrey;
    font-weight: 600;
    color: #8d8e8e;
    padding: 12px 12px;
    width: 80%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(137, 110, 77);
    box-shadow: 2px 3px 3px 0px, rgba(0, 0, 0, .3);
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}

.reservation input[type="text"] {
    font-size: 20px;
    outline: none;
    font-weight: 600;
    color: #5b956a;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 7px 1em;
    border-radius: 7px;
    background: #fff;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, .15);
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
}
.check-in li, .checkout li{
    display: inline;
    color: #090b0d;
    margin-left: 20px;
    margin-top: 40px;
}

.submit input[type="submit"] {
    color: #000;
    cursor: pointer;
    border:1px solid #090b0d;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-right: auto; 
}

.heading-padding h1 {
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    font-weight: 900;
    font-size: 2em;
    margin: 40px;
    background-color: rgb(137, 110, 77);
    padding: 20px;
}